<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://citunitec-001-site1.smarterasp.net:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>citunitec-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\citunitec-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5003.Smarterasp.net;Initial Catalog=DB_9C4D09_citunitec;User ID=DB_9C4D09_citunitec_admin;Password=Carlos12" Name="Data Source=SQL5003.Smarterasp.net;Initial Catalog=DB_9C4D09_citunitec;User Id=DB_9C4D09_citunitec_admin;Password=Carlos12;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="InscripcionCompetenciaFacebookLogin.Models.ApplicationDbContext, InscripcionCompetenciaFacebookLogin" MigrationConfiguration="InscripcionCompetenciaFacebookLogin.Migrations.Configuration, InscripcionCompetenciaFacebookLogin" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5003.Smarterasp.net;Initial Catalog=DB_9C4D09_citunitec;User Id=DB_9C4D09_citunitec_admin;Password=Carlos12;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>