body {
    padding-top: 60px;
    padding-bottom: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.body{
    margin-bottom: 60px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
}

/* bootstrap ui */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.animIdea.ng-hide-remove{
  -webkit-animation: fadeInRight 0.5s;
	-moz-animation: fadeInRight 0.5s;
	-o-animation: fadeInRight 0.5s;
	animation: fadeInRight 0.5s;
}

.animIdea.ng-hide-add{
  -webkit-animation: fadeOutRight 0.25s;
	-moz-animation: fadeOutRight 0.25s;
	-o-animation: fadeOutRight 0.25s;
	animation: fadeOutRight 0.25s;
}

.customPre{
    background-color: inherit;
    border: inherit;
    border-radius: inherit;
}

.panelIdea{
    position:fixed;
}

.move{
    -webkit-animation: shake 1.5s;
	-moz-animation: shake 1.5s;
	-o-animation: shake 1.5s;
	animation: shake 1.5s;
}